<div>
	<hr>
  <span class="comment"><br>Comment by <%= comment.author_name %></br></span>
  	<span class="comment">
  	Posted <%= distance_of_time_in_words(comment.meetup.created_at, comment.created_at) %> later
  </span><p>
  <%= comment.body %></p>
</div>
</hr>