<div>
<h1 class="home">The MeetUp Community</h1>

<ul id="meetups">
  <% @meetups.each do |meetup| %>
    <li>
      <%= link_to meetup.title, meetup_path(meetup) %>
    </li>
  <% end %>
  
  <%= @show %>
  We Welcome you to attend our</strong></p>\n<p style=\"text-align : center\"><strong>OPEN HOUSE</strong></p>\n<p style=\"text-align : center\"><strong>on Saturday, August 10th</strong></p>\n<p style=\"text-align : center\"><strong>from 10 am - 12 noon</strong></p>\n<p style=\"text-align : center\"><strong>Find out more about our Fall Preschool</strong></p>\n<p style=\"text-align : center\"><strong> Half and Full Day 2, 3, and 4 Year Old Programs</strong></p>\n<p style=\"text-align : center\"><strong>and our Young Fives Program!</strong></p>\n<p style=\"text-align : center\"><strong> </strong></p>\n<p style=\"text-align : center\"><strong>Now Enrolling!!!</strong></p>\n<p style=\"text-align : left\">For additional information call 732-615-0220 or email us at <a href=\"mailto:kingofkingsschool@gmail.com\">kingofkingsschool@gmail.com</a>.</p>\n<p style=\"text-align : center\">Find out more about us at <a href=\"http://www.kingofkingsnj.org\">www.kingofkingsnj.org</a></p>\n<p style=\"text-align : center\"> </p>
  <!-- <a href="/meetups/1">First Meetup Idea</a> -->
<!-- </ul> -->
<span class="link">
	<% if logged_in? %>
  <%= link_to "Create a New Meetup Idea", new_meetup_path, class: "new_meetups" %>
  <% end %>
</span>
</div>