<div>
<h1 class="home">The MeetUp Community</h1>

<ul id="meetups">
  <% @meetups.each do |meetup| %>
    <li>
      <%= link_to meetup.title, meetup_path(meetup) %>
    </li>
  <% end %>
  
  <!-- <a href="/meetups/1">First Meetup Idea</a> -->
<!-- </ul> -->
<span class="link">
	<% if logged_in? %>
  <%= link_to "Create a New Meetup Idea", new_meetup_path, class: "new_meetups" %>
  <% end %>
</span>
</div>