h1.home {
    border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	text-align: center;
	font-size: 100px;
	background-color: pink;
	font-family: "Calibri", calibri, serif;
	color: white;
}

h1 {
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	text-align: center;
	font-size: 100px;
	background-color: pink;
	font-family: "Calibri", calibri, serif;
	color: white;
}

h1.find {
	background-color: pink;
	text-align: center;
	color: white;
	font-size: 30px;
}

p {
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
    font-family: font-family: "Lucida Bright", Georgia, serif;
	color: black;
	font-size: 40px;
	background-color: #66FF99;
}

div {
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	font-size: 20px;
	background-color: #CCFFCC;
}

html {
	/*background-image:url('http://www.authenticjobs.com/logos/meetup_1330975215.png');*/
		/*background-color: #66FFFF*/
	background-color: white;
}

ul {
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	font-family: "Lucida Bright", Georgia, serif;
	background-color: #66FF99;
	font-size: 40px;
	color: black;
}

body {
	font-color: red;
}

span {
	background-color: #66FF99;
}

span.center {
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	background-color: #FFFF99;
	font-size: 40px;
}

span.title {
	font-size: 50px;
    border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
     background-color: #66FF33;
     text-align: center;
}

span.link {
	 color: #333;
    box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
    border: 1px orange;
}

span.comment {
	background-color: #99CCFF;
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	font-size: 20px;
}

p.image {
	background-color: #CCFFCC;
}

span.group {
	border-top-right-radius: 20px 15px;
	border-top-left-radius: 20px 15px;
	border-bottom-left-radius: 20px 15px;
	border-bottom-right-radius: 20px 15px; 
	font-family: font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background-color: salmon;
	font-size: 40px;
}
